#nav-bar {
    background-color: gold;
    float: left;
    width: 260px;
    min-height: 97%;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

html,
body {
    background-color: white;
    margin: 0;
    color: black;
    height: 100%;
    width: 100%;
}

#container {
    float: left;
    min-width: 84%;
}

#titulo-cadastro {
    color: gold;
    border: 1px;
    font-size: 60px;
    padding-left: 55px;
    font-family: 'Poppins', sans-serif;
    
}

#formulario-cadastro-livro{
    color: white;
    background-color: black;
    width: 41%;
    height: 410px;
    border-style: solid;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 47px;
    font-size: 19px;
    border-left: 0px;
    border-color: black;
    margin: 150px;
    margin-left: 350px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.input-dados {
    width: 250px;
    height: 24px;
    border: none;
    border-radius: 9px;
}

#botao {
    width: 140px;
    height: 41px;
    border-radius: 12px;
    background-color: yellow;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}