<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <title>CADASTRO</title>
</head>

<body>
    <div id="box-cadastro">
        <img id="background-img-cadastro" src="../cadastro.jpg" alt="Minha Figura">
        <div id="cadastro-usuario">
            <form method="POST" action="/cadastroUsuario">

                <h1 style="font-weight: 200;">Cadastro de Usuário</h1>

                <label for="nome">Nome:</label>
                <input class="input-dados" type="text" placeholder="Ex: Jayme Mattos" name="nome">
                <p></p>

                <label for="nome">Usuário:</label>
                <input style="margin-right: 13px;" class="input-dados" type="text" placeholder="Ex: jayme.mattos" name="usuario">
                <p></p>

                <label for="email">Email:</label>
                <input class="input-dados" type="email" placeholder="email@email.com" name="email">
                <p></p>

                <label for="senha">Senha:</label>
                <input class="input-dados" type="password" placeholder="Senha" name="senha">
                <p></p>

                <button id="botao-cadastro" type="submit">Cadastrar</button>
                <p></p>

                <span>Ja possui cadastro? <a href="/loginUsuario">Entrar</a></span>
            </form>
        </div>
    </div>


    </form>
</body>

</html>