<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../lista.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <title>LISTA</title>
</head>

<body>

    <div id="nav-bar">
        
        <h1>Bem vindo!</h1>
        <span>usuario</span>

        <nav>
            <ul>
                <li><a href="/loginUsuario" class="nav-link">Log-out</a></li>
                <li><a href="/cadastroUsuario" class="nav-link">Cadastrar usuario</a></li>
                <li><a href="/listaLivro" class="nav-link">Lista de livros</a></li>
                <li><a href="/cadastroLivro" class="nav-link">Cadastrar livros</a></li>
            </ul>
        </nav>
    </div>

    <div style="float: left;min-width: 84%;">

        <h1 id="titulo-livros">Livros</h1>

        <hr>

        <table>
            <tr id="livro-cadastrado">
                <td id="dados-id">id</td>
                <td><span id="dados-nome">Nome do livro</span></td>
                <td style="height: 150px;"></td>
                <td><span class="dados">Genero: <span>Terror</span></span> <span class="dados">Paginas:
                        <span>200</span></span>
                    <span class="dados">Ano:<span>2015</span></span>
                </td>
                <td>
                    <div id="container">
                        <span>Disponivel</span>
                        <div class="status-icon online"></div>
                        <button type="submit" style="margin-left: 10px;">Alugar</button>
                    </div>
                </td>
            </tr>

            <tr id="livro-cadastrado">
                <td id="dados-id">id</td>
                <td><span id="dados-nome">Nome do livro</span></td>
                <td style="height: 150px;"></td>
                <td><span class="dados">Genero: <span>Terror</span></span> <span class="dados">Paginas:
                        <span>200</span></span>
                    <span class="dados">Ano:<span>2015</span></span>
                </td>
                <td>
                    <div id="container">
                        <span>Disponivel</span>
                        <div class="status-icon online"></div>
                        <button type="submit" style="margin-left: 10px;">Alugar</button>
                    </div>
                </td>
            </tr>

            <tr id="livro-cadastrado">
                <td id="dados-id">id</td>
                <td><span id="dados-nome">Nome do livro</span></td>
                <td style="height: 150px;"></td>
                <td><span class="dados">Genero: <span>Terror</span></span> <span class="dados">Paginas:
                        <span>200</span></span>
                    <span class="dados">Ano:<span>2015</span></span>
                </td>
                <td>
                    <div id="container">
                        <span>Disponivel</span>
                        <div class="status-icon online"></div>
                        <button type="submit" style="margin-left: 10px;">Alugar</button>
                    </div>
                </td>
            </tr>

            
        </table>

    </div>
</body>

</html>