<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <div>

        <h1>Login Biblioteca Virtual</h1>
        
        <form method="get">

            <label>E-mail</label>
            <input type="email" name="email">
            <p></p>

            <label>Senha</label>
            <input type="password" name="senha">
            <p></p>

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>